.course-detail-body {
    margin: auto;
    margin-top: 90px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.checkout-btn {
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;
}

.checkout-btn:hover {
    background-color: rgb(185, 10, 10);
}

.download-btn {
    padding-left: 10px;
}

.course-price {
    color: rgb(95, 52, 252);
}

.course-title {
    font-weight: 800;
}

.c-name {
    font-style: italic;
    color: red;
}