.course-name {
    color: red;
    font-style: italic;
    font-weight: 700;
}

.disable-input {
    margin-left: 20%;
    margin-right: 20%;
}

.pay-btn {
    margin-bottom: 10px;
    width: 30%;
    font-weight: 700;
}