.login-div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 13px;
    margin-top: 90px;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 500;
}

.social-login-btn {
    margin-bottom: 10px;
}