.list-container {
    border: 1px solid black;
    height: 100%;
    padding: 20px;
    background-color: #0e356e;
    margin-top: 50px;
}

.list-container p {
    padding: 8px;
    background-color: rgb(79, 79, 79);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;

}

.list-container Link {
    text-decoration: none;

}